footer{
    background-color: rgb( 94, 94, 74, 1);
    color: #fff;
    text-align: center;
    padding: 40px 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}